@import './variables.scss';

/* GENERAL STYLE */
body{
    font-family:'DM Sans';
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}

.flex{
  display: flex;
}
.justify-content-center{
  justify-content: center;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
  align-items: center;
}

a{
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 768px){
  .nav{
    &__logo{
      img{
        width: 8rem;
      }
    }
    &__photographers{
      font-size: 1.2rem;
    }
  }
}

